/* &display=swap */
@import 'null.css';

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

.wrapper{
	min-height: 100%;
	overflow: hidden;
}
body{
	color: rgb(236, 227, 227);
	font-size: 18px;
	overflow: hidden;
}
h1{
	font-size: 36px;
	text-align: center;
}
h2{
	font-size: 26px;
}

.page-anchor {
	width: 10px;
	margin: 0;
	height: 1vh;
	visibility: hidden;
}

.block-article-main, .block-article-tabs, .block-article-akkordeon {
	max-width: 760px;
	margin: 0 auto;
	height: 98vh;
	overflow: auto;
	border: 5px solid rgb(105, 252, 7);
	border-radius: 20px;
	padding: 10px;
	background-color: rgb(95, 90, 90);
}

/* ============================================================ */
/* Секция 1. Псевдоклассы и псевдоэлементы */
.block-article-main *:not(:last-child){
	margin: 0 0 20px 0;
}

.bam-list{
	max-width: 360px;
	margin: 0 auto;
}
.bam-list li{
	display: inline-block;
	border: 1px solid rgb(43, 40, 40);
	box-shadow: 2px 10px 5px 1px #000;
	border-radius: 5px;
	font-size: 26px;
	background: rgb(53, 247, 4);
	padding: 10px 20px;
}

.bam-list li:not(:last-child){
	margin: 0 10px 0 0;
}
.bam-list li:hover:first-child{
	background: red;
	border-radius: 5px;
	color: azure;
	font-size: 20px;
	text-transform: uppercase;
}
.bam-list li:nth-child(2){
	background: red;
	box-shadow: 2px 10px 5px 1px #000;
	border-radius: 5px;
	color: azure;
}
.bam-list li:active:nth-child(2){
	background: rgb(74, 114, 243);
	box-shadow:inset 5px 5px 5px 0 #000;
}

.bam-list li:last-child{
	background: rgb(235, 253, 76);
	color: #000;
}
.bam-list li:last-child a:visited{
	color: rgb(105, 100, 100);
}
.block-article-main-button{
	text-align: center;
}
.block-article-main-button a{
	text-align: center;
	display: inline-block;
	padding: 15px 40px;
	color: rgb(243, 237, 237);
	font-size: 20px;
	text-transform: uppercase;
	background: linear-gradient(55.95deg, #ff403a 0%, #F75E05 100%);
	border-radius: 10px;
}
.block-article-main-button a:hover{
	background: linear-gradient(55.95deg, #ff403ac5 0%, #f75e05e0 100%);
}
.block-article-main-button a:active::after{
	content: ". давай смелее";
}
/* ============================================================ */
/* Секция 2. Табы */
.block-article-tabs h2{
	font-size: 36px;
	text-align: center;
	margin: 0 0 10px 0;
}
.block-article-tabs p{
	font-size: 20px;
	margin: 0 0 10px 0;
}
.block-tabs {
	text-align: center;
}
.block-tabs a{
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 5px 20px;
	background-color: green;
	border-radius: 10px; 
}
.block-tabs a:last-child{
margin: 0;
}
.block-tabs a:hover{
	background-color: rgb(3, 92, 3);
}
.block-tabs-body {
}
.body-content-1, .body-content-2, .body-content-3{
display: none;
}
/* Вкладка 1 */
#tab-1:target ~ .block-article-tabs .block-tabs .tab1{
	background-color: aqua;
	border-radius: 10px 10px 0 0;
	color: #000;
}
#tab-1:target ~ .block-article-tabs .block-tabs-body .body-content-1 p{
	font-size: 28px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	text-decoration: underline;
}

#tab-1:target ~ .block-article-tabs .block-tabs-body .body-content-1 {
	display: block;
	width: 600px;
	height: 200px;
	background-color: aqua;
	color: #000;
	margin: 0 auto 20px;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	font-size: 24px;
}
/* Вкладка 2 */
#tab-2:target ~ .block-article-tabs .block-tabs .tab2{
	background-color: rgb(0, 102, 255);
	border-radius: 10px 10px 0 0;
	color: #000;
}
#tab-2:target ~ .block-article-tabs .block-tabs-body .body-content-2 p{
	font-size: 28px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	text-decoration: underline;
}

#tab-2:target ~ .block-article-tabs .block-tabs-body .body-content-2 {
	display: block;
	width: 600px;
	height: 200px;
	background-color: rgb(0, 102, 255);
	color: rgb(247, 242, 242);
	margin: 0 auto 20px;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	font-size: 24px;
}
/* Вкладка 3 */
#tab-3:target ~ .block-article-tabs .block-tabs .tab3{
	background-color: rgb(230, 11, 48);
	border-radius: 10px 10px 0 0;
	color: #000;
}
#tab-3:target ~ .block-article-tabs .block-tabs-body .body-content-3 p{
	font-size: 28px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	text-decoration: underline;
}
#tab-3:target ~ .block-article-tabs .block-tabs-body .body-content-3 {
	display: block;
	width: 600px;
	height: 200px;
	background-color: rgb(230, 11, 48);
	color: rgb(247, 242, 242);
	margin: 0 auto 20px;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	font-size: 24px;
}
/* Кнопки навигации и закрытия табов */
.block-tabs-footer, .block-akkordeon-footer {
text-align: center;
}
.close-button{
	margin: 0 0 20px 0;
}
.close-button a{
	display: none;
	padding: 10px 50px;
	background-color: rgb(12, 45, 233);
	border-radius: 10px;
	font-size: 20px;
}
.close-button a:hover{
	background-color: rgb(7, 19, 85);
	box-shadow:inset 5px 5px 5px 0 #000;
}
#tab-1:target ~ .block-article-tabs .block-tabs-footer .close-button a{
	display: inline-block;
}
#tab-2:target ~ .block-article-tabs .block-tabs-footer .close-button a{
	display: inline-block;
}
#tab-3:target ~ .block-article-tabs .block-tabs-footer .close-button a{
	display: inline-block;
}
.back-ahead-buttons{
	text-align: center;
}
.back-ahead-buttons a{
	margin: 0 30px 0 0;
	font-size: 20px;
	font-weight: 700;
	color: #000;

}
.back-ahead-buttons a:first-child{
	background-color: #F75E05;
	padding: 10px 20px;
	border-radius: 10px;
}
.back-ahead-buttons a:last-child{
	margin: 0;
	background-color: #76f110;
	padding: 10px 20px;
	border-radius: 10px;
}
/* ============================================================== */
/* Секция 3. Аккордеон */
.block-article-akkordeon h2{
	font-size: 36px;
	text-align: center;
	margin: 0 0 10px 0;
}
.block-article-akkordeon p{
	font-size: 20px;
	margin: 0 0 10px 0;
}
.block-article-akkordeon-main{
	text-align: center;
	margin: 0 0 20px 0;
}
.block-article-akkordeon-link{
	display: block;
	padding: 20px;
	background-color: #5c055f;
	text-transform: uppercase;
	font-size: 26px;
	border: 1px solid #000;
}
.block-article-akkordeon-link:hover{
	background-color: #360438;
}
.block-article-akkordeon-main a:first-child{
	border-radius: 15px 15px 0 0;
}
.block-article-akkordeon-main a:last-of-type{
	border-radius: 0 0 15px 15px;
}
.block-article-akkordeon-11, .block-article-akkordeon-12, .block-article-akkordeon-13, .block-article-akkordeon-14 {
	display: none;
}
#akkordeon-1:target ~ .block-article-akkordeon .block-article-akkordeon-main .block-article-akkordeon-11{
	display: block;
	background-color: #f75e05e0;
	font-size: 20px;
	height: 150px;
	font-weight: 700;
	padding: 20px 0 0 0;
}
#akkordeon-2:target ~ .block-article-akkordeon .block-article-akkordeon-main .block-article-akkordeon-12{
	display: block;
	background-color: #f75e05e0;
	font-size: 20px;
	height: 150px;
	font-weight: 700;
	padding: 20px 0 0 0;
}
#akkordeon-3:target ~ .block-article-akkordeon .block-article-akkordeon-main .block-article-akkordeon-13{
	display: block;
	background-color: #f75e05e0;
	font-size: 20px;
	height: 150px;
	font-weight: 700;
	padding: 20px 0 0 0;
}
#akkordeon-4:target ~ .block-article-akkordeon .block-article-akkordeon-main .block-article-akkordeon-14{
	display: block;
	background-color: #f75e05e0;
	font-size: 20px;
	height: 150px;
	font-weight: 700;
	padding: 20px 0 0 0;
	border-radius: 0 0 15px 15px;
}
#akkordeon-4:target ~ .block-article-akkordeon .block-article-akkordeon-main a:last-of-type{
border-radius: 0;
}
/* Кнопка закрытия спойлеров */
#akkordeon-1:target ~ .block-article-akkordeon .block-akkordeon-footer .close-button a{
	display: inline-block;
}
#akkordeon-2:target ~ .block-article-akkordeon .block-akkordeon-footer .close-button a{
	display: inline-block;
}
#akkordeon-3:target ~ .block-article-akkordeon .block-akkordeon-footer .close-button a{
	display: inline-block;
}
#akkordeon-4:target ~ .block-article-akkordeon .block-akkordeon-footer .close-button a{
	display: inline-block;
}
/* ============================================================== */
/* Секция 4. Общая. Другие свойства, которые хочется попробовать */
.block-article-another *:not(a){
margin: 0 0 15px 0;
}
.block-article-another div:last-of-type{
	margin: 0;
	}
.block-article-another{
	max-width: 1040px;
	margin: 0 auto;
	height: 100vh;
	overflow: auto;
	padding: 10px;
	background-color: inherit;
	color: #000;
}
.another-links {
	text-align: center;
}
.another-link {
	display: inline-block;
	padding: 20px 35px;
	background-color: #F75E05;
	color: aliceblue;
	font-size: 26px;
	border: 1px solid #000;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 1px #000;
}
.another-link:hover{
	box-shadow:inset 2px 1px 5px 1px #000;
}
.hover-element {
	font-weight: 700;
	text-decoration: underline;
}
.section-4-example-link{
	text-align: center;
}
.section-4-example-link a{
	cursor: pointer;
}
.example-link-1 a{
	display: inline-block;
	background-color: rgb(54, 58, 58);
	color: rgb(252, 252, 252);
	padding: 10px;
	border-radius: 10px;
}
.example-link-1 a:hover{
	visibility: hidden;
}
.example-link-2 a{
	display: inline-block;
	background-color: rgb(54, 58, 58);
	color: rgb(252, 252, 252);
	padding: 10px;
	border-radius: 10px;
}
.example-link-2:hover a{
	visibility: hidden;
}
.example-link-3 a{
	display: inline-block;
	background-color: rgb(54, 58, 58);
	color: rgb(252, 252, 252);
	padding: 10px;
	border-radius: 10px;
}
.example-link-3 a:hover{
	display: none;
}
.section-4-example-block {
	background-color: rgb(82, 245, 18);
	color: rgb(252, 252, 252);
	padding: 10px;
	border-radius: 10px;
	color: #000;
}
.example-block-1 {
width: 150px;
}
.example-block-1:hover {
	width: 50%;
	}
.example-block-2:hover {
width: 25%;
}
.link-figma{
	text-align:center;
}
.link-figma a{
	display: inline-block;
	padding: 15px 25px;
	background-color: #F75E05;
	border: 1px solid #000;
	border-radius: 10px;
	color: rgb(248, 244, 244);
	text-transform: uppercase;
}
.link-figma a:hover{
	box-shadow:inset 2px 1px 5px 1px #000;
	background-color: #c04a05;
}
/* ============================================================== */
/* Секция 5. Задания Figma */
.block-part2{
	font-family: Lato;
	font-weight: 400	;
	font-size: 16px;
	max-width: 1040px;
	margin: 0 auto;
	height: 100vh;
	overflow: auto;
	padding: 10px;
	background-color: inherit;
	color: #000;
	max-width: 390px;
}

.block-part2-first p:first-of-type{
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #1E212C;
	margin: 0 0 8px 0;
}
.block-part2-first h2:first-of-type{
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
	color: #1E212C;
	margin: 0 0 40px 0;
}
.block-part2-first ul{
	margin: 0 0 48px 0;
}

.block-part2-first li{
	margin: 0 0 12px 0;
	line-height: 1.6;
}
.block-part2-first li::before{
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url("../img/check.svg") 0 0 /16px no-repeat;
	margin: 0 16px 0 0;
}
.block-part2-first li:last-child{
	margin: 0;
}
.block-part2-link{
}
.block-part2-link a{
	display: inline-block;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	font-weight: 700;
	font-size: 14px;
	padding: 0 32px;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 3.1;
}
.block-part2-first{
	margin: 0 0 30px 0;
}
.block-part2-second p{
	font-size: 26px;
}
.block-part2-second p::after{
	content: "";
	display: block;
	border: 1px solid #000;
	width: 12%;
	margin: 5px 0 0 0;
}
.block-part2-second{
margin: 0 0 30px 0;
}
.last-button-back a{
	background-color: #F75E05;
	padding: 10px 20px;
	border-radius: 10px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
}
.last-button-back{
	text-align: center;
}
.last-button-back a:hover{
	background-color: #d15209;
}
